.image-dog{
    border-radius: 24px;
}
.overlay-text{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: $white;
    border-radius: 24px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%);
    transition: all .3s ease;
}

.image{
    position: relative;
    &:hover .overlay-text{
        opacity: 1;
    }
}