.link-hover{
    color:$dark;
    &:hover{
        color:$warning;
    }
}
@include media-breakpoint-up(xl){
    .dash{
        height: 2px;
        width: 11px;
        background-color: $warning;
    }
    
    .dash-hover{
        height: 2px;
        width: 11px;
        position: absolute;
        left:0;
        right: 0;
        top:20px;
        background-color: $warning;
        opacity: 0;
    }
    
    .link-hover{
        display: inline-block;
        color:$dark;
        vertical-align: middle;
        span{
            transform: translateX(0px);
            transition: all .3s ease;
        }
        &:hover{
            span{
                color:$warning;
                -webkit-transform: translateX(10px);
                transform: translateX(10px);
            }
            .dash-hover{
                opacity: 1;
                transition: opacity .10s ease;
            }
        }
    }
}