@include media-breakpoint-up(lg){
    .speech-img{
        width: 140px;
        height: 152.2px;
        background-image: url('/images/btn.png');
        &:hover{
            background-image: url('/images/btn2.png');
        }
    }
    .speech-frame{
        position: relative;
        border: 2px solid $dark;
        border-radius: 8px;
        background-color: $white;
        padding:8px 24px;
        &::before{
            position: absolute;
            content: "";
            left:50%;
            bottom:-10px;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-width: 10px 10px 0;
            border-style: solid;
            border-color: $dark transparent;
        }
        &::after{
            position: absolute;
            content: "";
            left:50%;
            bottom:-7.5px;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-width: 7.5px 7.5px 0;
            border-style: solid;
            border-color: $white transparent;
        }
    }
}